/* style.css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#111;
  color:white;
}

/* Navbar */

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:black;
  position:sticky;
  top:0;
}

.logo{
  color:#ff9800;
  font-size:32px;
}

nav ul{
  display:flex;
  list-style:none;
  gap:25px;
}

nav ul li a{
  color:white;
  text-decoration:none;
  transition:0.3s;
}

nav ul li a:hover{
  color:#ff9800;
}

/* Hero Section */

.hero{
  height:90vh;
  background:url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1600&auto=format&fit=crop');
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero-text{
  background:rgba(0,0,0,0.6);
  padding:40px;
  border-radius:10px;
}

.hero-text h2{
  font-size:50px;
  margin-bottom:20px;
}

.hero-text p{
  margin-bottom:20px;
  font-size:18px;
}

.hero-text button{
  padding:12px 25px;
  border:none;
  background:#ff9800;
  color:white;
  font-size:16px;
  border-radius:5px;
  cursor:pointer;
  transition:0.3s;
}

.hero-text button:hover{
  background:#e68900;
}

/* Menu */

.menu{
  padding:70px 8%;
}

.section-title{
  text-align:center;
  font-size:40px;
  margin-bottom:50px;
}

.menu-container{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.card{
  background:#222;
  width:300px;
  border-radius:10px;
  overflow:hidden;
  text-align:center;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
}

.card img{
  width:100%;
  height:250px;
  object-fit:cover;
}

.card h3{
  margin:15px 0 10px;
  font-size:28px;
}

.card p{
  margin-bottom:20px;
  color:#ff9800;
  font-size:20px;
}

/* About */

.about{
  padding:80px 10%;
  text-align:center;
  background:#1b1b1b;
}

.about h2{
  font-size:40px;
  margin-bottom:20px;
}

.about p{
  max-width:700px;
  margin:auto;
  line-height:1.8;
  color:#ccc;
}

/* Contact */

.contact{
  padding:70px 8%;
}

form{
  max-width:600px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:20px;
}

form input,
form textarea{
  padding:15px;
  border:none;
  border-radius:5px;
  outline:none;
}

form textarea{
  height:150px;
}

form button{
  padding:15px;
  border:none;
  background:#ff9800;
  color:white;
  font-size:18px;
  cursor:pointer;
  border-radius:5px;
}

form button:hover{
  background:#e68900;
}

/* Footer */

footer{
  background:black;
  text-align:center;
  padding:20px;
  margin-top:40px;
}

/* Responsive */

@media(max-width:768px){

  nav{
    flex-direction:column;
    gap:15px;
  }

  .hero-text h2{
    font-size:35px;
  }

  .section-title{
    font-size:32px;
  }

}