body {
  font-family: Arial;
  background: linear-gradient(to right, #4CAF50, #81C784);
  color: white;
  text-align: center;
}

.container {
  background: white;
  color: black;
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

select, input {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: darkgreen;
}

#result {
  margin-top: 20px;
}